<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">
      Unlock the Wonders of <span class="hero-title-part">Ukraine</span>
    </h1>
    <button class="hero-button">Our tours</button>
    <ul class="hero-social-list">
      <li class="hero-social-list-item">
        <a class="hero-social-list-link" href="">
          <svg class="social-list-icon" width="24" height="24">
            <use href="../img/logo/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-list-item">
        <a class="hhero-social-list-link" href="">
          <svg class="social-list-icon" width="24" height="24">
            <use href="../img/logo/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-list-item">
        <a class="hero-social-list-link" href="">
          <svg class="social-list-icon" width="24" height="24">
            <use href="../img/logo/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
