.header {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  z-index: 999;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.logo {
}
.logo-icon {
}
.mobile-menu-btn {
  border: none;
  background-color: transparent;
}
.mobile-menu-icon {
}
.nav-list {
  display: none;
}
.nav-item {
}
.nav-link {
}
/* Styles for Tablet devices */
@media only screen and (min-width: 835px) {
  .mobile-menu-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #fff;
    gap: 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .nav-list {
    gap: 64px;
  }
}
